doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title Pure CSS3 slideshow
    link(rel="stylesheet" href="style.css")
  body
    ul.slideshow
      - for (var i = 0; i < 4; i++)
        li
          img(src="img/#{i}.jpg" width="480" height="360" alt="...")

    ul.slideshow.test
      - for (var i = 0; i < 4; i++)
        li
          img(src="img/#{i}.jpg" width="480" height="360" alt="...")
